
/EvalMaxSAT
/extract
/mse17-complete-unweighted-benchmarks

/python/tmp
/python/copy-to-arm64
/python/run-on-arm64

__pycache__
.venv
.DS_Store

python/report.*
!python/report.tex
!python/report.pdf
